{{ define "contacts" }}
  <form action="/contacts" method="get">
    <label for="search">Search Term</label>
    <input id="search" type="search" name="q" value="{{ .SearchTerm }}"/>
    <input type="submit" value="Search"/>
  </form>
  <table>
    <thead>
    <tr>
      <th>First <th>Last <th>Phone <th>Email <th/>
    </tr>
    </thead>
    <tbody>
    {{ range .Contacts }}
      <tr>
        <td>{{ .FirstName }}</td>
        <td>{{ .LastName }}</td>
        <td>{{ .Email }}</td>
        <td>{{ .Num }}</td>
        <td>
          <a href="/contacts/{{ .Id }}/edit">Edit</a>
          <a href="/contacts/{{ .Id }}">View</a>
        </td>
      </tr>
    {{ end }}
    </tbody>
  </table>
  <p>
    <a href="/contacts/new">Add Contact</a>
  </p>
{{ end }}
